* {
    font-family: Helvetica;
}

.banner-title {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: khaki;
    background-image: url("./resources/images/patter.jpeg");
    width: 100%
}

h1#brushes {
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h1#frames {
    background-color: lightcoral;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
h1#paint {
    background-color: skyblue;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

span {
    font-weight: bold;
    color: blue;
}